_build/
cover/
deps/
*.ez
.erlang.cookie
.elixir_ls/
.cache/
node_modules/
.env
*.beam
*.pyc
__pycache__/
.python-version
_artifacts/
.vscode/
.DS_Store
.envrc
.venv/
/priv/static/assets/
/priv/static/cache_manifest.json
**/*.swp
**/*.swo
**/*.orig
**/*.rej
.idea/
