mlflow==2.15.0
numpy
# Lock torch a bit older for compatibility in slim containers; skip on Windows
torch==2.3.1; platform_system!="Windows"
tensorflow-cpu==2.16.1
Automat==22.10.0
tokenizers>=0.15.0
pyzmq>=26.0.0
